
  .login-form {
    width: 320px;
    height:300px;
    position: absolute;
    top: 50%;
    left:50%;
    margin-top: -150px;
  margin-left: -180px;  
    
  }

  .login-form-button {
    width: 100%;
  }


.main-table{    
    margin:auto 0;
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    justify-content: center;
    border: 1px dashed #eee;
}